# Full path where the KV-V2 secret will be written
variable "vault_path" {
  type = string
  default = "<Full path KV-V2>"
}

# For a nested secret the name is the nested path excluding the mount and data prefix. 
# For example, for a secret at kvv2/data/foo/bar/baz the name is foo/bar/baz.
variable "vault_name" {
  type = list(string)
  default = ["<Full name of the secret>"]
}

# This is a URL with a scheme, a hostname and a port but with no path. 
# May be set via the VAULT_ADDR environment variable. http://...:...
variable "vault_address" {
  type = string
  default = "<Origin URL of the Vault server>"
}

# May be set via the VAULT_TOKEN environment variable. 
# If none is otherwise supplied, Terraform will attempt to read it from ~/.vault-token 
# (where the vault command stores its current token).
variable "vault_token" {
  type = string
  default = "<Vault token that will be used by Terraform to authenticate>
}

# dont forget to change file extentsion to .tf